body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.banner {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categoria {
    margin: 20px;
}

.categoria-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categoria-videos a {
    flex: 1 1 calc(20% - 10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.categoria-videos img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s;
}

.categoria-videos img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
